#aboutSection{
    padding-top: 80px;
    min-height: 100vh;
    text-align: center;
    font-size: 1.5rem;
    background-color: #a3deff

}

#aboutSection .about {
    font-size: 20px;
    margin: 3rem 0;
    text-align: left;

}

#aboutSection .intro {
    text-align: center;
}