footer {
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: grey;
    color: white;
    padding: 7px;
    bottom: 0;
}

@media screen and (max-width: 720px) {
    footer {
        position: fixed;
        margin-top: 10px;
    }
  }