header {
    background-color: lightgray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;

}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

.appName {
    margin: left;
}
    