header {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}

header * {
    display: inline;

}

.navigation-buttons {
    float: right; 
    margin-top: 25px;
}

header li {
    margin: 20px;
    font-size: 20px;
    text-decoration-line: none;
}

header li:hover {
    transition: 0.35s;
    color: white;
}